
.img{
    width: 215px;
    height: 215px;
    min-width: 215px;
    min-height: 215px;
}
.design{
    margin-bottom: 300px;
    width: 215px;
    height: 215px;
    min-width: 215px;
    min-height: 215px;
}
.fix{
    width: 215px;
    min-width: 215px;
}